:root {
  --c1: #faf5d8 ;
  --c2: #d8ae8b ;
  --c3: #f2ab37 ;
  --c4: #cd5f2a ;
  --c5: #21181b ;

  --bs: 
    -1px 2px 0 var(--c4), 
    -2px 4px 0 var(--c4), 
    -3px 6px 0 var(--c4),
    -4px 8px 0 var(--c4),
    -15px 30px 0 var(--c3);
}
body {
  text-align: center !important;
  
  color: var(--c5);
  font-family: 'Courier New', Courier, monospace !important;
  padding: 2em;

  background: var(--c1);
  background-image: 
    radial-gradient(transparent 75%, var(--c3) 75%, var(--c3) 80%, transparent 80%),
    radial-gradient(transparent 75%, var(--c1) 75%);
  background-size: 60px 60px;
  background-position: 0 0, 4px 4px;

  animation: bgMove 10s linear infinite;
}
@keyframes bgMove {
  to { background-position: 120px 60px, 124px 64px;}
}

body > * {
  background: var(--c1);
  border: var(--c4) solid;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: bold;
  text-align: center !important;

  border-radius: 1em;
  padding: 0.5em 1em !important;

  box-shadow: var(--bs);
}
body > h1 {
  box-shadow: none;
  border: none;
  font-size: 5em;
  font-style: italic;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px var(--c4);

  background: none;

  position: relative;
}
.subheading {
  position: absolute;
  font-size: 0.5em;
  right: 20%;
  bottom: 0.1em
}

#file-input {
  z-index: -1;
}

body > p, #file-preview {
  font-size: medium;
  max-width: 50em;
  margin: auto;
  box-sizing: border-box;
}
#file-output {
  background: white;
  padding: 1em;
  border: var(--c5) solid;
  height: 20em;
  overflow: auto;
  margin-top: 1em;
  margin-bottom: 0.5em;

  font-weight: 400;
  font-family: "Arial";
}

#pruned-output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#pruned-output > div {
  padding: 1em;
  margin-bottom: 1em;
  width: 30%;

  border: var(--c3) solid;
  border-radius: 0.5em;
  box-shadow: -1px 2px var(--c3), -2px 4px var(--c3);
}
#pruned-output textarea {
  display: block;
  width: 100%;
  resize: none;
  height: 20em;
  white-space: pre-line;
}